[AccountSettings]
capital: 100E6
transaction_cost: 0.005
volatility_target: 0.15

[StrategySettings]
models_path: config/models_sp500.csv
store_positions: false
positions_path:  positions/
signals_path:  signals/
volatility_window: 50
risk_free_rate: 0.00
slippage: 0.005

[ConfigSettings]
logfile_path:  log/engine.log
