[AccountSettings]
capital: 100E6
transaction_cost: 0.002
volatility_target: 0.15

[StrategySettings]
models_path: config/btc_pairs.csv
store_positions: false
positions_path:  positions/
signals_path:  signals/
volatility_window: 50
risk_free_rate: 0.00
slippage: 0.001
ma1: 20
ma2: 100
use_atr: true
atr_period: 14
number_atr: 3

[ConfigSettings]
logfile_path:  log/engine.log
store_market_data: false
market_data_dir: data/
live_data_enabled: false
