[AccountSettings]
capital_path: capital/capital.csv
transaction_cost: 0.002
volatility_target: 0.15

[StrategySettings]
models_path: config/btc_pairs.csv
limits_path: config/limits.csv
store_sim_positions: false
positions_path:  positions/positions.csv
sim_positions_path:  sim_positions/
order_file_path: orders/orders.csv
pnl_file_path: pnl.csv
signals_path:  signals/
volatility_window: 50
risk_free_rate: 0.00
slippage: 0.001
ma1: 5
ma2: 20
use_atr: true
atr_period: 14
number_atr: 3
long_only: true
geared: false

[ConfigSettings]
logfile_path:  log/engine.log
store_market_data: true
market_data_dir: data/
live_data_enabled: true
trading_enabled: true
refresh_frequency: 10
mail_user: florian.louistherese@gmail.com
mail_recipients: florian.louistherese@gmail.com
